<ng-container [formGroup]="form">
    <input  type="text"
            formControlName="firstName"
            placeholder="First Name"
            (blur)="onTouch()">

    <input  type="text"
            formControlName="lastName"
            placeholder="Last Name"
            (blur)="onTouch()">

    <input  type="text"
            formControlName="email"
            placeholder="e-mail"
            (blur)="onTouch()">

    <input  type="text"
            formControlName="age"
            placeholder="Age"
            (blur)="onTouch()">
</ng-container>
