<ng-container [formGroup]="form">
  <ng-container formGroupName="basicInfo">
      <input  type="text"
              formControlName="firstName"
              placeholder="First Name">

      <input  type="text"
              formControlName="lastName"
              placeholder="Last Name">

      <input  type="text"
              formControlName="email"
              placeholder="e-mail">

      <input  type="text"
              formControlName="age"
              placeholder="Age">
  </ng-container>
</ng-container>
