<form [formGroup]="myForm">

  <input  type="text"
          placeholder="First Name"
          formControlName="firstName" />

  <small *ngIf="myForm.controls.firstName.invalid">Required field</small>

  <input  type="text"
          placeholder="Last Name"
          formControlName="lastName" />

  <small *ngIf="myForm.controls.lastName.invalid">Required field</small>

</form>


<table>
  <tr>
    <td>
      First name
    </td>
    <td>
      Last name
    </td>
    <td>
      FormGroup
    </td>
  </tr>
  <tr>
    <td>
      {{ myForm.get('firstName').valid }}
    </td>
    <td>
      {{ myForm.get('lastName').valid }}
    </td>
    <td>
      {{ myForm.valid }}
    </td>
  </tr>
</table>
